{config_load file="$language/modules/payment/vrpayecommerce.conf" section="recurring"}
{config_load file="$language/modules/payment/vrpayecommerce.conf" section="form"}

<script src="ext/modules/payment/vrpayecommerce/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<link href="ext/modules/payment/vrpayecommerce/css/account_payment_form.css" rel="stylesheet" type="text/css">

<div class="page-title">
    <h1>{#FRONTEND_MC_CHANGE#}</h1>
</div>

{if $error_message!=''}
	<div class="error-box">{#ERROR_MC_UPDATE#}</div>
{/if}

{literal}
<script type="text/javascript">
	var wpwlOptions = {
		locale: "{/literal}{$lang}{literal}",
		 style: "card",
		 onReady: function(){
			var buttonCancel = "<a href='{/literal}{$cancel_url}{literal}' class='wpwl-button btn_cancel'>{/literal}{#FRONTEND_BT_CANCEL#}{literal}</a>";
			var buttonConfirm = "{/literal}{#FRONTEND_MC_BT_CHANGE#}{literal}" ;			
			var ttRegistration = "<div class='register-tooltip'>{/literal}{#FRONTEND_TT_REGISTRATION#}{literal}</div>";
			var ttTestMode = "<div class='testmode'>{/literal}{#FRONTEND_TT_TESTMODE#}{literal}</div>";
            $('form.wpwl-form').find('.wpwl-button').before(buttonCancel);
            $('.wpwl-button-pay').html(buttonConfirm);
            $('.wpwl-container').after(ttRegistration);            
            {/literal}{if $test_mode}{literal}
	            $(".wpwl-container").wrap( "<div class='frametest'></div>");
	            $('.wpwl-container').before(ttTestMode);   
            {/literal}{/if}{literal}  
		},
		registrations: {
             hideInitialPaymentForms: false,
             requireCvv: false
        }
    }
</script>
{/literal}
<script src="{$payment_widget_url}" type="text/javascript"></script>
<form action="{$response_url}" class="paymentWidgets">{$brand}</form>