{config_load file="$language/modules/payment/vrpayecommerce.conf" section="recurring"}
{config_load file="$language/modules/payment/vrpayecommerce.conf" section="form"}


<script src="ext/modules/payment/vrpayecommerce/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<link href="ext/modules/payment/vrpayecommerce/css/account_payment_form.css" rel="stylesheet" type="text/css">

<div class="page-title">
    <h1>{#FRONTEND_MC_DELETE#}</h1>
</div>

{if $error_message!=''}
	<div class="error-box">{#ERROR_MC_DELETE#}</div>
{/if}

<div class="box-unreg">
 <p class="text-unreg">{#FRONTEND_MC_DELETESURE#}</p>
 <form class="cancel_form" action="{$cancel_url}" method="post">
  <input type="submit" value="{#FRONTEND_BT_CANCEL#}" class="btnCustom btnCustomSubmit">
 </form>
 <form action="" method="post">
  <input type="hidden" name="id" value="{$id}"/>
  <input type="hidden" name="selected_payment" value="{$selected_payment}"/>  
  <input type="submit" name="action" value="{#FRONTEND_BT_CONFIRM#}" class="btnCustom btnCustomSubmit">
 </form>
</div>
