{config_load file="$language/modules/payment/vrpayecommerce.conf" section="form"}
{load_language_text section="buttons" name="button"}

<script src="ext/modules/payment/vrpayecommerce/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<link href="ext/modules/payment/vrpayecommerce/css/payment_form.css" rel="stylesheet" type="text/css">

{if $LIGHTBOX == 'true'}<div id="lightbox_content" style="display:none">{/if}
<div class="order_confirm{if $LIGHTBOX == 'true'} lightbox_block{/if}">

{literal}
  <script type="text/javascript">
    var wpwlOptions = {
      locale: "{/literal}{$lang}{literal}",
       style: "card",
       onReady: function(){
        var buttonCancel = "<div class='btn-box'><a href='{/literal}{$cancel_url}{literal}' class='wpwl-button btn_cancel'>{/literal}{#FRONTEND_BT_CANCEL#}{literal}</a></div>";
        var ttTestMode = "<div class='testmode'>{/literal}{#FRONTEND_TT_TESTMODE#}{literal}</div>";
        var headerWidget = "<h2 style='text-align : center !important;'>{/literal}{#FRONTEND_RECURRING_WIDGET_HEADER2#}{literal}</h2>";
        $('form.wpwl-form').find('.wpwl-button').after(buttonCancel);
        var clearFloat = "<div style='clear:both'></div>";
        var btnPayNow = "<button type='submit' name='pay' class='wpwl-button wpwl-button-pay'>{/literal}{#FRONTEND_BT_PAYNOW#}{literal}</button>";
        $('form.wpwl-form-virtualAccount-PAYPAL').find('.wpwl-button-brand').wrap( "<div class='payment-brand'></div>");
        $('form.wpwl-form-virtualAccount-PAYPAL').find('.btn_cancel').after(btnPayNow);
        $('form.wpwl-form-virtualAccount-PAYPAL').find('.wpwl-button-pay').after(clearFloat);
        {/literal}{if $test_mode}{literal}
          $(".wpwl-container").wrap( "<div class='frametest'></div>");
          $('.wpwl-container').before(ttTestMode);   
        {/literal}{/if}{literal}
        {/literal}{if $recurring}{literal}
          $('#wpwl-registrations').after(headerWidget);
        {/literal}{/if}{literal}  
      },
      registrations: {
               hideInitialPaymentForms: false,
               requireCvv: false
          }
      }
  </script>
{/literal}

{if !empty($registrations)}
  <h2 style="text-align : center !important;">{#FRONTEND_RECURRING_WIDGET_HEADER1#}</h2>
{else}
  <h2 style="text-align : center !important;">{#FRONTEND_MC_PAYANDSAFE#}</h2>
{/if}
{if $error_message!=''}
  <div class="error-box">{$error_message}</div>
{/if} 
{if !empty($registrations)}
  {literal}
    <script>
      $(document).ready(function() {
        $( "input[type=radio][name=registrationId]" ).on( "click", function() {
          $(".wpwl-group-registration").removeClass("wpwl-selected");
          $(".regid"+this.value).addClass("wpwl-selected");
        });
      });
    </script>
  {/literal}
  <div id="wpwl-registrations">
    <div class="wpwl-container wpwl-container-registration wpwl-clearfix" style="display: block;">
      <form class="wpwl-form wpwl-form-registrations wpwl-form-has-inputs wpwl-clearfix" action="{$response_url}" method="POST" lang="en" accept-charset="UTF-8" data-action="submit-registration">
      {foreach from=$registrations key=k item=v}
        {if $v.payment_default == 1}
          <div class="regid{$v.ref_id} wpwl-group wpwl-group-registration wpwl-clearfix wpwl-selected ">
        {else}
          <div class="regid{$v.ref_id} wpwl-group wpwl-group-registration wpwl-clearfix ">
        {/if}
            <label class="wpwl-registration">
              <div class="wpwl-wrapper-registration wpwl-wrapper-registration-registrationId">
              {if $v.payment_default == 1}
                <input type="radio" name="registrationId" value="{$v.ref_id}" checked="checked" data-action="change-registration">
              {else}
                <input type="radio" name="registrationId" value="{$v.ref_id}" data-action="change-registration">
              {/if}
              </div>
              <div class="wpwl-wrapper-registration wpwl-wrapper-registration-details">
              <div class="wpwl-wrapper-registration wpwl-wrapper-registration-email">{$v.email}</div>
              <div class="wpwl-wrapper-registration wpwl-wrapper-registration-holder">{$v.holder}</div>
              </div>
              <div class="wpwl-wrapper-registration wpwl-wrapper-registration-cvv"></div>
            </label>
          </div>
      {/foreach}
        <div class="wpwl-group wpwl-group-submit wpwl-clearfix">
          <div class="wpwl-wrapper wpwl-wrapper-submit">
            <button type="submit" name="pay" class="wpwl-button wpwl-button-pay">{#FRONTEND_BT_PAYNOW#}</button>
          </div>
        </div>
      </form>
      <iframe name="registrations-target" class="wpwl-target" src="about:blank" frameborder="0"></iframe>
    </div>
  </div>
{/if} 

<script src="{$payment_widget_url}" type="text/javascript"></script>
<form action="{$response_url}" class="paymentWidgets">{$brand}</form>

</div>
{if $LIGHTBOX == 'true'}
 <a href="{$LIGHTBOX_CLOSE}" class="icon_lightbox_close_checkout button_close_lightbox" title="{$button.close}">{$button.close}</a>
</div>
{/if}