{config_load file="$language/modules/payment/vrpayecommerce.conf" section="form"}
{load_language_text section="buttons" name="button"}

<script src="ext/modules/payment/vrpayecommerce/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<link href="ext/modules/payment/vrpayecommerce/css/payment_form.css" rel="stylesheet" type="text/css">

{if $LIGHTBOX == 'true'}<div id="lightbox_content" style="display:none">{/if}
<div class="order_confirm{if $LIGHTBOX == 'true'} lightbox_block{/if}">

{literal}
<script type="text/javascript">
	var wpwlOptions = {
		locale: "{/literal}{$lang}{literal}",
		 style: "card",
		 onReady: function(){
			var buttonCancel = "<a href='{/literal}{$cancel_url}{literal}' class='wpwl-button btn_cancel'>{/literal}{#FRONTEND_BT_CANCEL#}{literal}</a>";
			var ttTestMode = "<div class='testmode'>{/literal}{#FRONTEND_TT_TESTMODE#}{literal}</div>";
			var headerWidget = "<h2 style='text-align : center !important;'>{/literal}{#FRONTEND_RECURRING_WIDGET_HEADER2#}{literal}</h2>";
            $('form.wpwl-form').find('.wpwl-button').before(buttonCancel);
            {/literal}{if $test_mode}{literal}
	            $(".wpwl-container").wrap( "<div class='frametest'></div>");
	            $('.wpwl-container').before(ttTestMode);   
            {/literal}{/if}{literal}
            {/literal}{if $recurring}{literal}
            	$('#wpwl-registrations').after(headerWidget);
            {/literal}{/if}{literal}  
		},
		registrations: {
             hideInitialPaymentForms: false,
             requireCvv: false
        }
    }
</script>
{/literal}
{if $recurring}
	{if !empty($registrations)}
		<h2 style="text-align : center !important;">{#FRONTEND_RECURRING_WIDGET_HEADER1#}</h2>
	{else}
		<h2 style="text-align : center !important;">{#FRONTEND_MC_PAYANDSAFE#}</h2>
	{/if}
	{if $error_message!=''}
		<div class="error-box">{$error_message}</div>
	{/if}
{/if}
<script src="{$payment_widget_url}" type="text/javascript"></script>
<form action="{$response_url}" class="paymentWidgets">{$brand}</form>

</div>
{if $LIGHTBOX == 'true'}
 <a href="{$LIGHTBOX_CLOSE}" class="icon_lightbox_close_checkout button_close_lightbox" title="{$button.close}">{$button.close}</a>
</div>
{/if}