{config_load file="$language/modules/payment/vrpayecommerce.conf" section="recurring"}
{if $is_recurring_active}
	<div class="page-title">
		<h1>{#FRONTEND_MC_INFO#}</h1>
	</div>

	<link href="ext/modules/payment/vrpayecommerce/css/account_payment_form.css" rel="stylesheet" type="text/css">

	{if !empty($success_message)}
		{if $success_message == 'register'}
			<div class="success-box">{#SUCCESS_MC_ADD#}</div>
		{elseif $success_message == 'change'}
			<div class="success-box">{#SUCCESS_MC_UPDATE#}</div>
		{elseif $success_message == 'delete'}
			<div class="success-box">{#SUCCESS_MC_DELETE#}</div>
		{/if}
    {/if}

	{if !empty($error_message)}
		{if $error_message == 'register'}
			<div class="error-box">{#ERROR_MC_ADD#}</div>
		{elseif $error_message == 'change'}
			<div class="error-box">{#ERROR_MC_UPDATE#}</div>
		{elseif $error_message == 'delete'}
			<div class="error-box">{#ERROR_MC_DELETE#}</div>
		{elseif $error_message == 'ERROR_GENERAL_REDIRECT'}
			<div class="error-box">{#ERROR_GENERAL_REDIRECT#}</div>
		{/if}
	{/if}

	{if $is_cards_saved_active}
		<div class="group"><h3>{#FRONTEND_MC_CC#}</h3></div>
		{foreach from=$customer_data_cc item=list}
			<div class="group-list">
				<div class="group-img">
					<img src="ext/modules/payment/vrpayecommerce/images/{$list.brand|lower}.png" class="brandImage" alt="{$list.brand}">
				</div>
				<span class="group-info">{#FRONTEND_MC_ENDING#} {$list.last4digits}; {#FRONTEND_MC_VALIDITY#} {$list.expiry_month}/{$list.expiry_year|substr:2}</span>
				<div class="group-button">
					{if $list.payment_default}
						<button class="btnCustom btnDefault">{#FRONTEND_MC_BT_DEFAULT#}</button>
					{else}
						<form class="btnDefault" action="account_payment_information.php" method="post">
							<input type="hidden" name="id" value="{$list.id}"/>
							<input type="hidden" name="payment_group" value="CC"/>
							<input type="hidden" name="set_default" value="1"/>
							<button style = "width:100%;" class="btnCustom btnDefault" type="submit" value="submit">{#FRONTEND_MC_BT_SETDEFAULT#}</button>
						</form>	
					{/if}
					<form class="btnChange" action="ext/modules/payment/vrpayecommerce/change_payment.php" method="post">
						<input type="hidden" name="id" value="{$list.id}"/>
						<input type="hidden" name="selected_payment" value="vrpayecommerce_cards_saved"/>
						<button style = "width:100%;" class="btnCustom" type="submit" value="submit">{#FRONTEND_MC_BT_CHANGE#}</button>
					</form>
					<form class="btnDelete" action="ext/modules/payment/vrpayecommerce/delete_payment.php" method="post">
						<input type="hidden" name="id" value="{$list.id}"/>
						<input type="hidden" name="selected_payment" value="vrpayecommerce_cards_saved"/>
						<button style = "width:100%;" class="btnCustom" type="submit" value="submit">{#FRONTEND_MC_BT_DELETE#}</button>
					</form>
				</div>
				<div style="clear:both"></div>					
			</div>
		{/foreach}
		<div class="group-add">
			<form class = "btnAdd" action="ext/modules/payment/vrpayecommerce/register_payment.php" method="post">
				<input type="hidden" name="selected_payment" value="vrpayecommerce_cards_saved"/>
				<button style = "width:100%;" class="btnCustom" type="submit" value="submit">{#FRONTEND_MC_BT_ADD#}</button>
			</form>
		</div>
		<div class="group-separator"></div>
	{/if}

	{if $is_dd_saved_active}
		<div class="group"><h3>{#FRONTEND_MC_DD#}</h3></div>
		{foreach from=$customer_data_dd item=list}
			<div class="group-list">
				<div class="group-img">
					<img src="ext/modules/payment/vrpayecommerce/images/sepa.png" class="brandImage" alt="SEPA">			
				</div>
				<span class="group-info">{#FRONTEND_MC_ACCOUNT#} {$list.last4digits}</span>
				<div class="group-button">
					{if $list.payment_default}
						<button class="btnCustom btnDefault">{#FRONTEND_MC_BT_DEFAULT#}</button>
					{else}
						<form class="btnDefault" action="account_payment_information.php" method="post">
							<input type="hidden" name="id" value="{$list.id}"/>
							<input type="hidden" name="payment_group" value="DD"/>
							<input type="hidden" name="set_default" value="1"/>
							<button style = "width:100%;" class="btnCustom btnDefault" type="submit" value="submit">{#FRONTEND_MC_BT_SETDEFAULT#}</button>
						</form>	
					{/if}
					<form class="btnChange" action="ext/modules/payment/vrpayecommerce/change_payment.php" method="post">
						<input type="hidden" name="id" value="{$list.id}"/>
						<input type="hidden" name="selected_payment" value="vrpayecommerce_dd_saved"/>
						<button style = "width:100%;" class="btnCustom" type="submit" value="submit">{#FRONTEND_MC_BT_CHANGE#}</button>
					</form>
					<form class="btnDelete" action="ext/modules/payment/vrpayecommerce/delete_payment.php" method="post">
						<input type="hidden" name="id" value="{$list.id}"/>
						<input type="hidden" name="selected_payment" value="vrpayecommerce_dd_saved"/>
						<button style = "width:100%;" class="btnCustom" type="submit" value="submit">{#FRONTEND_MC_BT_DELETE#}</button>
					</form>
				</div>
				<div style="clear:both"></div>					
			</div>
		{/foreach}
		<div class="group-add">
			<form class = "btnAdd" action="ext/modules/payment/vrpayecommerce/register_payment.php" method="post">
				<input type="hidden" name="selected_payment" value="vrpayecommerce_dd_saved"/>
				<button style = "width:100%;" class="btnCustom" type="submit" value="submit">{#FRONTEND_MC_BT_ADD#}</button>
			</form>
		</div>
		<div class="group-separator"></div>
	{/if}

	{if $is_paypal_saved_active}
		<div class="group"><h3>{#FRONTEND_MC_PAYPAL#}</h3></div>
		{foreach from=$customer_data_paypal item=list}
			<div class="group-list">
				<div class="group-img">
					<img src="ext/modules/payment/vrpayecommerce/images/paypal.png" class="brandImage" alt="PayPal">
				</div>
				<span class="group-info">{#FRONTEND_MC_EMAIL#} {$list.email}</span>
				<div class="group-button">
					{if $list.payment_default}
						<button class="btnCustom btnDefault">{#FRONTEND_MC_BT_DEFAULT#}</button>
					{else}
						<form class="btnDefault" action="account_payment_information.php" method="post">
							<input type="hidden" name="id" value="{$list.id}"/>
							<input type="hidden" name="payment_group" value="OT"/>
							<input type="hidden" name="set_default" value="1"/>
							<button style = "width:100%;" class="btnCustom" type="submit" value="submit">{#FRONTEND_MC_BT_SETDEFAULT#}</button>
						</form>	
					{/if}
					<form class="btnChange" action="ext/modules/payment/vrpayecommerce/change_payment.php" method="post">
						<input type="hidden" name="id" value="{$list.id}"/>
						<input type="hidden" name="selected_payment" value="vrpayecommerce_paypal_saved"/>
						<button style = "width:100%;" class="btnCustom" type="submit" value="submit">{#FRONTEND_MC_BT_CHANGE#}</button>
					</form>
					<form class="btnDelete" action="ext/modules/payment/vrpayecommerce/delete_payment.php" method="post">
						<input type="hidden" name="id" value="{$list.id}"/>
						<input type="hidden" name="selected_payment" value="vrpayecommerce_paypal_saved"/>			
						<button style = "width:100%;" class="btnCustom" type="submit" value="submit">{#FRONTEND_MC_BT_DELETE#}</button>
					</form>
				</div>
				<div style="clear:both"></div>					
			</div>
		{/foreach}
		<div class="group-add">
			<form class = "btnAdd" action="ext/modules/payment/vrpayecommerce/register_payment.php" method="post">
				<input type="hidden" name="selected_payment" value="vrpayecommerce_paypal_saved"/>
				<button style = "width:100%;" class="btnCustom" type="submit" value="submit">{#FRONTEND_MC_BT_ADD#}</button>
			</form>
		</div>
		<div class="group-separator"></div>
	{/if}

{/if}