{config_load file="$language/modules/payment/vrpayecommerce.conf" section="recurring"}
{config_load file="$language/modules/payment/vrpayecommerce.conf" section="form"}

<script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
<link href="css/account_payment_form.css" rel="stylesheet" type="text/css">

{if $redirect}
	{literal}
		<style>
			body {
				display: none;
				background-color: white;
			}
			button.wpwl-button-brand, .copyright {
				display:none;
			}
		</style>
		<script type="text/javascript">
			var wpwlOptions = {
					 onReady: function(){
							$(".wpwl-form").submit();
					}
		    }
		</script>
	{/literal}
{else}
	<div class="page-title">
	    <h1>{#FRONTEND_MC_SAVE#}</h1>
	</div>

	{if $error_message!=''}
		<div class="error-box">{#ERROR_MC_ADD#}</div>
	{/if}

	{literal}
	<script type="text/javascript">
		var wpwlOptions = {
			locale: "{/literal}{$lang}{literal}",
			 style: "card",
			 onReady: function(){
				var buttonCancel = "<a href='{/literal}{$cancel_url}{literal}' class='wpwl-button btn_cancel'>{/literal}{#FRONTEND_BT_CANCEL#}{literal}</a>";
				var buttonConfirm = "{/literal}{#FRONTEND_BT_REGISTER#}{literal}" ;
				var ttTestMode = "<div class='testmode'>{/literal}{#FRONTEND_TT_TESTMODE#}{literal}</div>";
	            $('form.wpwl-form-card').find('.wpwl-button').before(buttonCancel);
	            $('.wpwl-button-pay').html(buttonConfirm); 
	            {/literal}{if $test_mode}{literal}
		            $(".wpwl-container").wrap( "<div class='frametest'></div>");
		            $('.wpwl-container').before(ttTestMode);   
	            {/literal}{/if}{literal}  
			},
			registrations: {
	             hideInitialPaymentForms: false,
	             requireCvv: false
        	}
	    }
	</script>
	{/literal}
{/if}
<input type="submit" value="Submit" style="display:none" />
<script src="{$payment_widget_url}" type="text/javascript"></script>
<form action="{$response_url}" class="paymentWidgets">{$brand}</form>