{load_language_text section="checkout_confirmation"}
{load_language_text section="buttons" name="button"}

<!-- ORDER CONFIRMATION -->
{if $LIGHTBOX == 'true'}<div id="lightbox_content" style="display:none">{/if}
<form action="{$CHECKOUT_FORM_ACTION_URL}" method="post">
	<div class="order_confirm{if $LIGHTBOX == 'true'} lightbox_block{/if}">
		<h1>{$txt.heading_confirmation}</h1>
		<div class="text_information">
		{if $ERROR}
			{$ERROR}
		{/if}
		</div>

		<ul class="arrows">
			{if $PRIVACY_CONFIRMATION_URL}<li><a href="{$PRIVACY_CONFIRMATION_URL}" target="_blank" class="conditions_info_link lightbox_iframe">{$PRIVACY_CONFIRMATION_TEXT}</a></li>{/if}
			{if $CONDITIONS_CONFIRMATION_URL}<li><a href="{$CONDITIONS_CONFIRMATION_URL}" target="_blank" class="conditions_info_link lightbox_iframe">{$CONDITIONS_CONFIRMATION_TEXT}</a></li>{/if}
			{if $WITHDRAWAL_CONFIRMATION_URL}<li><a href="{$WITHDRAWAL_CONFIRMATION_URL}" target="_blank" class="conditions_info_link lightbox_iframe">{$WITHDRAWAL_CONFIRMATION_TEXT}</a></li>{/if}
		</ul>

		{if $GM_LOG_IP =='1' && ($GM_CONFIRM_IP =='1' || $GM_SHOW_IP =='1')}
			<div class="text_information">
				{if $GM_CONFIRM_IP =='1'}
					<input type="checkbox" value="save" name="gm_log_ip" /> {$txt.text_confirm_log_ip} {$CUSTOMERS_IP}
				{/if}
			</div>
		{/if}

		{if $amazon_checkout_address}
			<h2 class="underline overline"><img class="png-fix" src="{$tpl_path}img/icons/address.png" alt="" />{$txt.text_shipping_address}</h2>
			{$amazon_checkout_address}
		{else}
			<div class="cols2">
				<div class="col">
					<h2 class="underline overline"><img class="png-fix" src="{$tpl_path}img/icons/address.png" alt="" /> {$txt.text_shipping_address} </h2>
					<p>{$DELIVERY_LABEL}</p>

				</div>
				<div class="col last">
					<h2 class="underline overline"><img class="png-fix" src="{$tpl_path}img/icons/address.png" alt="" /> {$txt.text_payment_address} </h2>
					<p>{$BILLING_LABEL}</p>
				</div>
			</div>
		{/if}

		{if $amazon_checkout_payment}
			<h2 class="underline overline"><img class="png-fix" src="{$tpl_path}img/icons/payment.png" alt="" /> {$txt.text_payment_info}</h2>
			{$amazon_checkout_payment}
		{else}
			{if $PAYMENT_METHOD!='' && $BILLING_LABEL}
				<h2 class="underline overline"><img class="png-fix" src="{$tpl_path}img/icons/payment.png" alt="" /> {$txt.text_payment_method}</h2>
				<p>{$PAYMENT_METHOD}</p>
			{/if}

			{if isset($smarty.get.response_from) && $smarty.get.response_from == 'servertoserver'}
				<script type="text/javascript">
					document.getElementsByTagName("h1")[0].innerHTML = "Order Review";
					console.log(document.getElementsByTagName("form")[0]);
					var parentbutton = document.getElementById('main_inside');
					parentbutton.getElementsByTagName("form")[0].setAttribute("action", "{'checkout_vrpayecommerce_servertoserver.php?payment_module='|xtc_href_link:'':'SSL'}{$smarty.get.payment_module}");
				</script>
				<input type="hidden" name="vrpay_id" value="{$smarty.get.id}" />
				<input type="hidden" name="amount" value="{$smarty.session.servertoserver_amount}" />
				<input type="hidden" name="currency" value="{$smarty.session.servertoserver_currency}" />
				{$smarty.session.servertoserver_txt}
                                <br>
				{if isset($smarty.session.servertoserver_info_url)}
                    <a href="{$smarty.session.servertoserver_info_url}" target="_blank">
		    			{$smarty.session.servertoserver_info_url_title}
                    </a>
                {/if}
			{/if}

			{if $PAYMENT_INFORMATION!='' && $BILLING_LABEL}
					<h2 class="underline overline"><img class="png-fix" src="{$tpl_path}img/icons/payment.png" alt="" /> {$txt.text_payment_info}</h2>
				<p>{$PAYMENT_TITLE}</p>

				{if !empty($payment_information_data)}
					<table class="payment_information">
					{foreach name=payment_information item=payment_information_array from=$payment_information_data}
						<tr>
							<td>{$payment_information_array.title}</td>
							<td>{$payment_information_array.field}</td>
						</tr>
					{/foreach}
					</table>
				{/if}
			{/if}
		{/if}

		{$MODULE_ts_excellence}

		{if $ORDER_COMMENTS != ''}
			<h2 class="underline overline"><img class="png-fix" src="{$tpl_path}img/icons/comments.png" alt="" /> {$txt.text_comments}  <a class="conditions_info_link" href="{$PAYMENT_EDIT}">{$txt.text_edit}</a></h2>
			<p>{$ORDER_COMMENTS}</p>
		{/if}



		<h2 class="underline overline" style="margin-bottom:0"><img class="png-fix" src="{$tpl_path}img/icons/products.png" alt="" /> {$txt.text_products} </h2>

		<div id="products_overview">
			<table cellspacing="0">

				{$PRODUCTS_TABLE_PART}

				{foreach name=total_block item=total_item_array from=$total_block_data}
					<tr class="{if $smarty.foreach.total_block.last}total{/if}">
						<td colspan="2">&nbsp;</td>
						<td class="order_total_name" colspan="2">{$total_item_array.title}</td>
						<td class="order_total_price">{$total_item_array.text}</td>
					</tr>
				{/foreach}
				{if isset($smarty.get.response_from) && $smarty.get.response_from == 'servertoserver'}
					<tr>
						<td colspan="2">&nbsp;</td>
						<td class="order_total_name" colspan="2">Sum of Interest: </td>
						<td class="order_total_price">{$smarty.session.servertoserver_sum} {$smarty.session.servertoserver_currency}</td>
					</tr>
					<tr class="total">
						<td colspan="2">&nbsp;</td>
						<td class="order_total_name" colspan="2">Order Total: </td>
						<td class="order_total_price">{$smarty.session.servertoserver_total} {$smarty.session.servertoserver_currency}</td>
					</tr>	
				{/if}
			</table>
			

			{if $CONFIRMATION_INFO|strip_tags:true|trim}
				<div id="confirmation_info">{$CONFIRMATION_INFO}</div>
			{/if}
		</div>


		{$CHECKOUT_FORM_PREFORM}
		<div style="margin-top: 30px">
				<input type="hidden" name="ie11bugfix" value="1" />

				{if $MODULE_BUTTONS!=''}{$MODULE_BUTTONS}{/if}

				{* TODO: write action_page_back handler *}
				<div class="back_button"><a href="{'checkout_payment.php'|xtc_href_link:'':'SSL'}" class="button_grey_big button_set_big action_page_back"><span class="button-outer"><span class="button-inner">{$button.back}</span></span></a></div>

				<div class="checkout_button"><a href="{page_url}#" class="button_green_big button_set_big action_submit"><span class="button-outer"><span class="button-inner">{$button.send_order}</span></span></a></div>
		</div>
	</div>
</form>
{if $LIGHTBOX == 'true'}
	<a href="{$LIGHTBOX_CLOSE}" class="icon_lightbox_close_checkout button_close_lightbox" title="{$button.close}">{$button.close}</a>
</div>
{/if}
