<form action="{$redirect_url}" class="paymentWidgets" id="easycreditform">
{foreach from=$parameters key=k item=v}
    <input type="text" name="{$v.name}" value="{$v.value}">
{/foreach}
</form>
<script language="javascript">document.getElementById("easycreditform").submit();</script>