*{margin:0; padding:0;}
.col-left{
    float:none !important;
    width:0 !important;
}
.col-main{
    float:none !important;
    width:100% !important;
}
.wpwl-button{
    margin-top: 10px !important;
}
.btn_cancel {
    float: left;
    color: #fff;
    background-color: #aaa;
    border-color: #999;
    border-radius: 4px;
    text-decoration: none !important;
}
.btn_cancel:hover {
    color: #fff;
    background-color: #999;
}
.page-title h1{
    text-align: center !important;
}

.payment-logo{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 20px;
}
.wpwl-form{
    max-width: 40em !important;
    margin: 0 auto 2px !important;
     padding: 15px !important;
}
.frametest{
    margin:10px auto;
    width: 100%;
    border:10px solid red;
    max-width: 440px;
    padding:0;
}
.testmode{
    margin:0 auto !important;
    padding:3px 0 10px 0;
    width: 100%;
    font-size: 13px !important;
    font-weight: bold;
    color: #fff !important;
    background-color: red;
    text-align: center;
}
.error-box{
    margin: 10px 0px;
    background-color:#FFE6E6;
    border:1px solid #FF8E90;
    padding:5px;
}
/* css for paypalsaved */
.wpwl-form-virtualAccount-PAYPAL .wpwl-button-brand {
    float:none;
    margin: 0 auto !important;
}
.wpwl-form-virtualAccount-PAYPAL .payment-brand{
    width: 146px;
    padding-top: 15px;
    margin: 0 auto !important;
}
.wpwl-form-virtualAccount-PAYPAL .btn-box{
    padding: 20px 13px 23px;
}

/*css for one click saved payment */
.wpwl-wrapper-registration-details{
    width: 75% !important;
    padding: 0 0 0 30px !important;
}



