.content {
    padding: 25px 25px 25px 30px;
    background: #F5F5F5;
}
.heading_content {
    font-size: 14px;
}
.message_content {
    padding-top: 25px;
    font-size: 12px;
}
.btn_content {
    margin-top: 2%;
}
.admin_txt{
    font-weight: bold;
    color: #2196F3;
}



